html {
  height: 75%;
}

body {
  animation: 17000ms ease-in-out infinite color-change;
  font-family: 'Montserrat', sans-serif;
}

@keyframes color-change {
  0% {
    background-color: #9C5EF2;
  }
  25% {
    background-color: #04D9C4;
  }
  50% {
    background-color: #03A696;
  }
  75% {
    background-color: #F28705;
  }
  100% {
    background-color: #F27405;
  }
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: none;
  width: 11.2em;
  animation: 17000ms ease-in-out infinite color-change;
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.1);
  border: none;
  font-size: 1.5em; 
}

#content {
  text-align: center;
  text-shadow: 0px 4px 3px rgb(0,0,0,0.4), 0px 8px 13px rgb(0,0,0,0.1), 0px 18px 23px rgb(0,0,0,0.1);
  width: 700px;
  margin: 150px auto;
  background-color:rgba(255,255,255,0.5);
  box-shadow: 0 0 3px rgb(0, 0, 0, 0.1);
}