<!DOCTYPE html>
<html>
<head>
	<title>Buzzer App</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="bootstrap.js">
	<link rel="stylesheet" type="text/css" href="vistaJugador.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="jumbotron" id="content">
					<h1>Id de la reunión:</h1>
					<hr>
					<label>Ronda: <%= .ronda=></label>
					<br>
					<label>Equipo: <%= .equipo=></label>
					<br>
					<label>Jugador: <%= .jugador=></label>
					<br>
					<button class="btn btn-info">Reiniciar</button>
				</div>
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>